<template>
  <div class="settings">
    <div class="container content">
      <form class="box-shadow-1" @submit.prevent="onSubmitPersonal">
        <h3>Personal info</h3>
        <v-input
          v-model="firstname"
          placeholder="Firstname"
        />
        <v-input
          v-model="lastname"
          placeholder="Lastname"
        />
        <v-input
          v-model="address"
          placeholder="Address"
        />
        <v-input
          v-model="city"
          placeholder="City"
        />
        <v-input
          v-model="zipcode"
          placeholder="Postal code"
        />
        <div class="text-right">
          <v-button>Save</v-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import VInput from '@/components/forms/VInput'
import VButton from '@/components/VButton'
import api from '@/api'

export default {
  name: 'settings',
  data () {
    return {
      // personal
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      zipcode: null
    }
  },
  components: {
    VInput,
    VButton
  },
  created () {
    this.initForms()
  },
  methods: {
    initForms () {
      const { user } = this.$store.state
      if (user.firstname) this.firstname = user.firstname
      if (user.lastname) this.lastname = user.lastname

      if (user.address) this.address = user.address
      if (user.city) this.city = user.city
      if (user.zipcode) this.zipcode = user.zipcode
    },
    onSubmitPersonal () {
      const data = {}
      if (this.firstname) data.firstname = this.firstname
      if (this.lastname) data.lastname = this.lastname

      if (this.address) data.address = this.address
      if (this.city) data.city = this.city
      if (this.zipcode) data.zipcode = this.zipcode

      api
        .put('/users/update', data)
        .then(response => {
          this.$store.commit('SET_USER', response.data)
        })
        .catch(error => error)
    }
  }
}
</script>

<style lang="postcss" scoped>
.settings {
  form {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    background: #fff;
  }
  a {
    text-decoration: none;
  }
}
</style>
