<template>
  <div class="settings">
    <sidebar>
      <ul>
        <li>
          <router-link to="/settings/personal">Personal</router-link>
        </li>
        <li>
          <router-link to="/settings/account">Account</router-link>
        </li>
      </ul>
    </sidebar>
    <router-view class="view-settings" />
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'

export default {
  name: 'settings',
  components: {
    Sidebar
  },
  created () {
    this.$router.push('/settings/personal') // since redirect in router/index.js doesn't work
  }
}
</script>

<style lang="postcss" scoped>
.settings {
  display: flex;
  align-items: stretch;
  .sidebar {
  }
  .view-settings {
    flex: 1;
  }
}
</style>
