<template>
  <div class="about">
    <div class="container content">
      <h1>About</h1>
      <p class="lead">This site is intended as a starting point for other projects.</p>
      <p>Check out the <router-link to="/styleguide">styleguide</router-link> to see what's inluded.</p>
    </div>
  </div>
</template>
