<template>
  <div class="home">
    <div class="container content">
      <h1>Home</h1>
      <p class="lead">Welcome to this awesome website.</p>
      <p>Click <router-link to="/about">here</router-link> to read more.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {
  }
}
</script>
