<template>
  <div class="styleguide">
    <div class="container content">
      <h1>Styleguide</h1>
      <h2>Typography</h2>
      <h3>Headings</h3>
      <div class="demo">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <h3>Content</h3>
      <h4>Body copy</h4>
      <div class="demo">
        <p>Amet veritatis porro corporis neque ad nam fugiat, modi Vero voluptatum dolorem a deleniti iusto. Exercitationem rerum atque harum modi sit doloremque? Ab eos commodi sunt eius obcaecati deserunt. Consequatur</p>
      </div>
      <h4>Lead body copy</h4>
      <div class="demo">
        <p class="lead">Amet veritatis porro corporis neque ad nam fugiat, modi Vero voluptatum dolorem a deleniti iusto. Exercitationem rerum atque harum modi sit doloremque? Ab eos commodi sunt eius obcaecati deserunt. Consequatur</p>
      </div>
      <h2>Components</h2>
      <h3>Forms</h3>
      <div class="demo">
        <v-input
          v-model="modelInputText"
          placeholder="v-input"
        />
        <v-select
          v-model="modelSelect"
          placeholder="v-select"
        >
          <option value="one">one</option>
          <option value="two">two</option>
          <option value="three">three</option>
        </v-select>
        <v-textarea
          v-model="modelTextarea"
          placeholder="v-textarea"
        />
        <v-button>v-button</v-button>
      </div>
      <h4>Sizes</h4>
      <p>
        All inputs have utility classes to control sizes. Other than the default <code>.md</code> class there's <code>.sm</code> and <code>.lg</code>.
      </p>
      <div class="demo">
        <v-input class="sm" placeholder=".sm" />
        <v-select class="sm" placeholder=".sm">
          <option value="one">one</option>
          <option value="two">two</option>
          <option value="three">three</option>
        </v-select>
        <v-textarea class="sm" placeholder=".sm" />
        <v-button class="sm">.sm</v-button>

        <v-input class="lg" placeholder=".lg" />
        <v-select class="lg" placeholder=".lg">
          <option value="one">one</option>
          <option value="two">two</option>
          <option value="three">three</option>
        </v-select>
        <v-textarea class="lg" placeholder=".lg" />
        <v-button class="lg">.lg</v-button>
      </div>

      <h4>Colors</h4>
      <div class="demo">
        <v-input class="default" placeholder=".default" />
        <v-button class="default">.default</v-button>

        <v-input class="primary" placeholder=".primary" />
        <v-button class="primary">.primary</v-button>

        <v-input class="success" placeholder=".success" />
        <v-button class="success">.success</v-button>

        <v-input class="warning" placeholder=".warning" />
        <v-button class="warning">.warning</v-button>

        <v-input class="error" placeholder=".error" />
        <v-button class="error">.error</v-button>
      </div>
    </div>
  </div>
</template>

<script>
import VInput from '@/components/forms/VInput'
import VSelect from '@/components/forms/VSelect'
import VTextarea from '@/components/forms/VTextarea'
import VButton from '@/components/VButton'

export default {
  name: 'styleguide',
  components: {
    VInput,
    VSelect,
    VTextarea,
    VButton
  },
  data () {
    return {
      modelInputText: null,
      modelSelect: null,
      modelTextarea: null
    }
  }
}
</script>

<style lang="postcss" scoped>
.demo {
  padding: 1rem;
  background: #fff;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  /deep/ .input-base {
    max-width: 400px;
  }
}
</style>
