<template>
  <div class="sidebar content">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'sidebar'
}
</script>

<style lang="postcss" scoped>
.sidebar {
  padding-left: 1rem;
  padding-right: 1rem;
  ul {
    list-style: none;
    li:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
  a {
    color: #333;
    text-decoration: none;
    outline: none;
    &.router-link-exact-active {
      font-weight: bold;
    }
  }
}
</style>
