html, body {
  width: 100%;
}
html {
  height: 100vh;
}
body {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-header,
.page-footer {
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
