:root {
  --color-default: #eee;
  --color-default-hover: #eaeaea;

  --color-primary: #3298dc;
  --color-primary-hover: #2793da;

  --color-success: #48c774;
  --color-success-hover: #3ec46d;

  --color-warning: #ffdd57;
  --color-warning-hover: #ffdb4a;

  --color-error: #f14668;
  --color-error-hover: #f03a5f;

  --input-padding-y-sm: calc(.375rem - 1px);
  --input-padding-x-sm: .5rem;
  --input-padding-sm: var(--input-padding-y-sm) var(--input-padding-x-sm);
  --input-font-sm: .75rem;
  --input-height-sm: calc(var(--input-font-sm) + (var(--input-padding-y-sm) * 2) + 2px);

  --input-padding-y-md: calc(.5rem - 1px);
  --input-padding-x-md: .75rem;
  --input-padding-md: var(--input-padding-y-md) var(--input-padding-x-md);
  --input-font-md: 1rem;
  --input-height-md: calc(var(--input-font-md) + (var(--input-padding-y-md) * 2) + 2px);

  --input-padding-y-lg: calc(.625rem - 1px);
  --input-padding-x-lg: .875rem;
  --input-padding-lg: var(--input-padding-y-lg) var(--input-padding-x-lg);
  --input-font-lg: 1.25rem;
  --input-height-lg: calc(var(--input-font-lg) + (var(--input-padding-y-lg) * 2) + 2px);

  --input-padding-y-xl: calc(.75rem - 1px);
  --input-padding-x-xl: 1.125rem;
  --input-padding-xl: var(--input-padding-y-xl) var(--input-padding-x-xl);
  --input-font-xl: 1.5rem;
  --input-height-xl: calc(var(--input-font-xl) + (var(--input-padding-y-xl) * 2) + 2px);

  --button-padding-sm: calc(.375rem - 1px) .75rem;
  --button-padding-md: calc(.5rem - 1px) 1rem;
  --button-padding-lg: calc(.625rem - 1px) 1.25rem;
  --button-padding-xl: calc(.75rem - 1px) 1.5rem;

  --input-placeholder-color: #777;
}
