<template>
  <input-base class="v-select">
    <select
      v-model="model"
      :class="{ placeholder: placeholder && model === null }"
    >
      <option
        v-if="placeholder"
        value="null"
        disabled
      >
        {{ placeholder }}
      </option>
      <slot></slot>
    </select>
  </input-base>
</template>

<script>
import InputBase from '@/components/forms/InputBase'
import InputMixin from '@/components/forms/InputMixin'

export default {
  name: 'v-select',
  mixins: [InputMixin],
  components: { InputBase }
}
</script>

<style lang="postcss" scoped>
.v-select {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75rem;
    content: '\25BE';
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &.placeholder {
      color: var(--input-placeholder-color);
    }
    option {
      padding: var(--input-padding-md);
      font-size: var(--input-font-md);
      line-height: 1;
    }
  }
}
</style>
