<template>
  <input-base class="v-textarea">
    <textarea
      :type="type"
      v-model="model"
      :placeholder="placeholder"
      :rows="rows"
    >
    </textarea>
  </input-base>
</template>

<script>
import InputBase from '@/components/forms/InputBase'
import InputMixin from '@/components/forms/InputMixin'

export default {
  name: 'v-textarea',
  props: {
    rows: {
      type: Number,
      default: 5
    }
  },
  mixins: [InputMixin],
  components: { InputBase }
}
</script>
